<div class="chat-icon" id="chat-icon">
  <img class="chat-img" src="/static/images/chat_icon.png" alt="Chat Icon">
</div>

<!-- Chat Window -->
<div class="chat-window" id="chat-window">
  <div class="chat-header">
    <h1>Chat...</h1>
    
  </div>

  <div id="chat-messages">
    <p id="connected-msg"></p>
    
  </div>

  <div class="chat-input">
    <input id="user-msg" type="text" placeholder="Type your message...">
    <button id="send-message">Send</button>
  </div>
</div>