<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('links') %>
    <link rel="stylesheet" href="/static/css/chess.css">
    <link rel="stylesheet" href="/static/css/chat.css">
    
    
    <title>Chess</title>
</head>
<body>
    <%- include('header') %>
    <section class="section">
        
        <h1>CHESS GAME</h1>
        <div class="Join-Room">
            <input id="room" type="text" placeholder="Enter Room ID">
            <button id="join" type="text">JOIN</button>
        </div>
        <div id="buttons">
            <button id="reset" onclick="load(0)">RESET</button>
            <div id="countdown">10:00</div>
        </div>
        <hr>
        <div class="full-board">

            <div id = "board">
                <div id="popup" class="hidden">Check</div>
                  
            </div>
            <h3 id="choice">START THE GAME</h3>
        </div>

        <div id="promotion-options">
            <button class="promotion-option" data-piece="3">Queen</button>
            <button class="promotion-option" data-piece="6">Rook</button>
            <button class="promotion-option" data-piece="4">Bishop</button>
            <button class="promotion-option" data-piece="5">Knight</button>
        </div>

        <%- include('chat') %>
    </section>

    <%- include('footer') %>
    
    
</body>
    <script src = "/socket.io/socket.io.js"></script>
    <script src="static/js/chess.js"></script>
    <script src="static/js/chat.js"></script>
     
</html>