<header class="header">
    <div class="logo">
        <div class="name">
            <img class="logoImg" src="/static/images/logo.png">
            <div class="logo1"> 
                <a href="games"><h1 class="logo-name">JOJO</h1></a>
            </div>
        </div>
    </div>


    
    <div class="profile">
        <div class="circle"><img class="profile_logo" src="static/images/icon.png"></div>
        <div class="dropdown">
            <a href="/profile">PROFILE</a>
            <a href="/leaderBoard">LEADER_BOARD</a>
            <a href="/changeProfile">PROFILE_PHOTO</a>
            <a href="/logout">SIGNOUT</a>

        </div>
    </div>
    
    <script>
        fetch('/getProfileLogo', {
          method : 'post',
        })
        .then(resp => resp.json())
        .then(resp => {
            document.querySelector('.profile_logo').src = resp.signedUrl;
        })
        .catch(err => {
            console.log(err)
        })
    </script>

</header>