<header class="header">
    <div class="logo">
        <div class="name">
            <img class="logoImg" src="/static/images/logo.png">
            <div class="logo1"> 
                <a href="games"><h1 class="logo-name">JOJO</h1></a>
            </div>
        </div>
    </div>


    
    <div class="profile">
        <img class="profile_logo" src="/static/images/profile_logo.png">
        <div class="dropdown">
            <a href="/profile">PROFILE</a>
            <a href="/leaderBoard">LEADERBOARD</a>
            <a href="/logout">SIGNOUT</a>

        </div>
    </div>
    


</header>