<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jojo</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>


<body>
    <header class="header">
        <div class="logo">
            <div class="name">
                <img class="logoImg" src="/static/images/logo.png">
                <div class="logo1"> 
                    <h1 class="logo-name">JOJO</h1>
                </div>
            </div>
            
        </div>
        <div class="dummy">
            <a href="login"><h2 class="Sgn">Sign in</h2></a>
        </div>
    </header>

    <section class="section">
        <div class="welcome"> 
            <h1>Welcome To JOJO Games</h1>
            <p>Welcome to JOJO Games! Take a small break, unwind, and let the games melt away your stress. With a variety of classic games at your fingertips, there's something for everyone. Join us, relax, and play your stress away</p>
            <a href="register"><button type="submit">REGISTER</button></a>
            <a href="login"><button class="Sign-in" type="submit">SIGNIN</button></a>
        </div>
    </section>


    <%- include('footer') %>
</body>
</html>
